<div class="_navbar">
  <a href="" class="_navbar_logo">
    <img
      src="https://scontent.fbaq6-1.fna.fbcdn.net/v/t1.15752-9/123135367_388850538816238_8170774989615221545_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_eui2=AeGuh-_XkrTGlDQlcj6T7AQmlCHarXP-PyWUIdqtc_4_JdpjdI4ro7AtJ5nWyD2wzwkH0cysO2NnKXy1wFyJxSZj&_nc_ohc=jq9eekren9wAX86KLzJ&_nc_ht=scontent.fbaq6-1.fna&oh=5bfcf0008def62d36029ef2738844194&oe=5FBFDB85"
      alt="Logo"
      height="55"
    />
  </a>
  <button class="nabvar_button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<div class="sub_navbar">
  <div class="input_search">
    <input type="text" placeholder="¿Qué estás buscando?" />
    <button><i class="fas fa-search"></i></button>
  </div>

  <div class="navbar_items">
    <span><i class="fas fa-user"></i></span>
    <span><i class="fas fa-shopping-cart"></i></span>
  </div>
</div>
