<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h3 class="text-center">Crear cuenta</h3>
      <div class="card card-body mb-5">
        <form [formGroup]="formConsumidor" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre1">Primer nombre: *</label>
            <input type="text" class="form-control" id="nombre1" formControlName="nombre1"
              [class.is-invalid]="f.nombre1.invalid && (f.nombre1.dirty || f.nombre1.touched)" />

            <div *ngIf="f.nombre1.invalid && (f.nombre1.dirty || f.nombre1.touched)" class="invalid-feedback blur-5">

              <div *ngIf="f.nombre1.errors.required">Nombre es requerido.</div>
              
            </div>
          </div>
          <div class="form-group">
            <label for="apellido1">Primer apellido: *</label>
            <input type="text" class="form-control" id="apellido1" formControlName="apellido1"
              [class.is-invalid]="f.apellido1.invalid && (f.apellido1.dirty || f.apellido1.touched)" />

            <div *ngIf="f.apellido1.invalid && (f.apellido1.dirty || f.apellido1.touched)"
              class="invalid-feedback blur-5">

              <div *ngIf="f.apellido1.errors.required">Apellido es requerido.</div>
             
            </div>
          </div>
          <div class="form-group">
            <label for="correo">Correo: *</label>
            <input type="email" class="form-control" id="correo" formControlName="correo"
              [class.is-invalid]="f.correo.invalid && (f.correo.dirty || f.correo.touched)" />

            <div *ngIf="f.correo.invalid && (f.correo.dirty || f.correo.touched)" class="invalid-feedback blur-5">
              <div *ngIf="f.correo.errors.email">Correo es inválido.</div>
              <div *ngIf="f.correo.errors.required">Correo es requerido.</div>
               

            </div>
          </div>

          <div class="form-group">
            <label for="password">Contraseña: *</label>
            <input type="password" class="form-control" id="password" formControlName="password"
              [class.is-invalid]="f.password.invalid && (f.password.dirty || f.password.touched)" />

            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="invalid-feedback blur-5">

              <div *ngIf="f.password.errors.required">Password es requerido.</div>
              <div *ngIf="f.password.errors.minlength">
                Password debe tener al menos 8 caracteres de longitud.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="repetPassword">Vuelve a escribir la contraseña: *</label>
            <input type="password" class="form-control" id="repetPassword" formControlName="repetPassword"
              [class.is-invalid]="f.repetPassword.invalid && (f.repetPassword.dirty || f.repetPassword.touched)" />

            <div *ngIf="f.repetPassword.invalid && (f.repetPassword.dirty || f.repetPassword.touched)"
              class="invalid-feedback blur-5">

              <div *ngIf="f.repetPassword.errors.required">Password es requerido.</div>
              <div *ngIf="f.repetPassword.errors.minlength">
                Password debe tener al menos 8 caracteres de longitud.
              </div>
            </div>
          </div>

          <button class="btn btn-success btn-block btn-lg mb-2">Registrarse</button>
          ¿Ya tienes una cuenta? <a routerLink="/auth/login">Iniciar sesión</a>
        </form>
      </div>
    </div>
  </div>
</div>