<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h3 class="text-center">Inicia sesión</h3>
      <div class="card card-body">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" id="correo" formControlName="correo" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
          </div>

          <button class="btn btn-success btn-block btn-lg mb-2">Ingresar</button>
          ¿Eres nuevo? <a routerLink="/auth/register">Registrate gratis</a>
        </form>
      </div>
    </div>
  </div>
</div>

<button (click)="f()">fr</button>
