<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="list-group">
        <a
          routerLink="insertar-domiciliario"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
        >
          Insertar Domiciliario
        </a>
        <a
          routerLink="lista-domiciliarios"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
          >Lista Domiciliario</a
        >
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
