<h3>Lista Vendedores</h3>
<hr />

<div class="form-row justify-content-end">
  <div class="form-group col-lg-4">
    <input type="text" placeholder="Busqueda por NIT" class="form-control" id="inputSearch" />
  </div>
</div>

<div class="table-responsive table-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NIT</th>
        <th scope="col">RUT</th>
        <th scope="col">RAZON SOCIAL</th>
        <th scope="col">SITIO WEB</th>
        <th scope="col">ACCION</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let vendedor of vendedores; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ vendedor.nit }}</td>
        <td>{{ vendedor.rut }}</td>
        <td>{{ vendedor.razonSocial }}</td>
        <td>{{ vendedor.sitioWeb }}</td>
        <td>
          <button class="btn btn-sm btn-primary">View</button>
          <button class="btn btn-sm btn-primary ml-2" (click)="onDelete(vendedor.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="!pagination?.previousPage">
        <button class="page-link" (click)="getVendedores(pagination?.nextPage)">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of pagination?.total">
        <button class="page-link" href="#">{{ page | json }}</button>
      </li>
      <li class="page-item" [class.disabled]="!pagination?.nextPage">
        <button class="page-link" (click)="getVendedores(pagination?.nextPage)">Next</button>
      </li>
    </ul>
  </nav>
</div>
