<nav style="background-color: #4d0a68">
  <div class="container">
    <div style="display: flex">
      <a routerLink="">
        <img src="assets/images/logo.png" height="100" width="auto" alt="Logo" />
      </a>
      <div style="flex: 1">
        <ul style="display: flex; justify-content: space-around">
          <li>
            <a href="">Persona</a>
          </li>
          <li>
            <a href="">Empresa</a>
          </li>
          <li>
            <a href="">Administrador</a>
          </li>
        </ul>

        <div style="display: flex">
          <div style="flex: 1; display: flex; justify-content: space-around">
            <label for=""> Lo que estas buscando: </label>

            <input type="text" />
            <button><i class="fas fa-search"></i></button>
          </div>

          <div>
            <button><i class="fas fa-truck"></i></button>
            <button><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>
    </div>

    <ul style="display: flex; justify-content: space-between">
      <li>
        <a href="">Categorias</a>
      </li>
      <li>
        <a href="">Categorias</a>
      </li>
      <li>
        <a href="">Categorias</a>
      </li>
      <li>
        <a href="">Categorias</a>
      </li>
      <li>
        <a href="">Categorias</a>
      </li>
      <li>
        <a routerLink="/auth/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
