<div class="d-flex justify-content-center mb-4">
  <a routerLink="">
    <img src="assets/images/logo.png" height="100" width="auto" alt="Logo" class="logo" />
  </a>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="text-center">Completar registro</h3>

      <form [formGroup]="formVendedor" (ngSubmit)="onSubmit()">
        <div class="card mb-4">
          <div class="card-header">Datos vendedor</div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="nit">NIT: *</label>
                <input type="text" class="form-control" id="nit" formControlName="nit" />
              </div>
              <div class="form-group col-lg-6">
                <label for="rut">RUT: *</label>
                <input type="text" class="form-control" id="rut" formControlName="rut" />
              </div>

              <div class="form-group col-lg-6">
                <label for="razonSocial">Razon social: *</label>
                <input
                  type="text"
                  class="form-control"
                  id="razonSocial"
                  formControlName="razonSocial"
                />
              </div>

              <div class="form-group col-lg-6">
                <label for="sitioWeb">Sitio web:</label>
                <input type="text" class="form-control" id="sitioWeb" formControlName="sitioWeb" />
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4" formGroupName="Direccion">
          <div class="card-header">Direccion</div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="departamento">Departamento:</label>
                <select
                  class="form-control"
                  id="departamento"
                  #departamento
                  (change)="handlerMunicipios(departamento.value)"
                >
                  <option [value]="null" selected disabled>Seleccione una opcion</option>
                  <option *ngFor="let dep of departamentos" [value]="dep?.id">
                    {{ dep.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label for="municipio">Municipio:</label>

                <select class="form-control" id="municipio" formControlName="MunicipioId">
                  <option [value]="null" disabled>Seleccione una opcion</option>
                  <option *ngFor="let mun of municipios" [value]="mun?.id">
                    {{ mun.nombre }}
                  </option>
                </select>
              </div>

              <div class="form-group col-lg-6">
                <label for="barrio">Barrio:</label>
                <input type="text" class="form-control" id="barrio" formControlName="barrio" />
              </div>
              <div class="form-group col-lg-6">
                <label for="direccion">Direccion:</label>
                <input
                  type="text"
                  class="form-control"
                  id="direccion"
                  formControlName="direccion"
                />
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-block btn-success" type="submit">Terminar registro</button>
      </form>
    </div>
  </div>
</div>
